.App {
    font-family: sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh
}
  
.roleOptionButton {
    width: 200px;
    height: 200px;
    border-radius: 1px;
    color: red;
}
  
body {
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  height: 100vh;
    width: 100vw;
}

body::-webkit-scrollbar {
    display: none; /* WebKit (Safari, Chrome) */
  }

  
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    border: 1px solid gray;
    background-color: white;
    max-width: 100%;
}
  
.textError::placeholder {
    color: red;
  }
  